{{ define "main" }}
<h1>{{ .Title }}</h1>

{{ if .Content }}
<div class="intro">
  {{ .Content }}
</div>
{{ end }}

<ul>
{{ range (.Pages.ByParam "year").Reverse }}
 <li class="pub-item">
  <strong>{{ .Title }}</strong><br>
  {{ delimit .Params.authors ", " }} ({{ .Params.year }})<br>
 {{ with .Params.pubtype }}
  <span class="pub-type">{{ . }}-</span>
{{ end }}

<em>{{ .Params.journal }}</em>

  <div class="pub-links">
    {{ with .Params.pdf }}
      <a class="pub-btn" href="{{ . }}" target="_blank">PDF</a>
    {{ end }}

    {{ with .Params.doi }}
      <a class="pub-btn" href="{{ . }}" target="_blank">DOI</a>
    {{ end }}
  </div>
</li>
{{ end }}
</ul>

{{ end }}

